.home-page {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  .modal-overlay {
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
    }
  }
}
