.home-page {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .modal {
      background-color: #fff;
      padding: 2rem;
      border-radius: 8px;
      max-width: 500px;
      width: 90%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      text-align: center;
      z-index: 3;
    }
  }
}
