.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  .modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 3;
    .modal-button {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      margin: 0 1rem;
    }
  }
}
